<div class="flex flex-col">
    <div class="flex flex-col m-4">
        <app-go-back-button></app-go-back-button>
    </div>
    <h2 class="text-2xl mx-7 font-extrabold">Gsap To:</h2> 
    <h2 class="text-lg mx-7 font-semibold">The to() method is used to animate a single element from a starting state to an ending state.</h2>
   <menu>
    <div class="flex flex-col m-2 mx-8 p-4">
        <h3 class="mb-5">No Ease Function</h3>
        <div id="blue-box" class="bg-blue-500 h-20 w-20 cursor-pointer" ></div>
    </div>
    <div class="flex flex-col m-2 mx-8 p-4">
        <h3 class="mb-5">Ease: Back Out</h3>
        <div id="blue-box-ease-back-out" class="bg-pink-400 h-20 w-20 cursor-pointer" ></div>
    </div>
    <div class="flex flex-col m-2 mx-8 p-4">
        <h3 class="mb-5">Ease: Back In</h3>
        <div id="blue-box-ease-back-in" class="bg-teal-400 h-20 w-20 cursor-pointer" ></div>
    </div>    
    <div class="flex flex-col m-2 mx-8 p-4">
        <h3 class="mb-5">Ease: Back In Out</h3>
        <div id="blue-box-ease-back-in-out" class="bg-orange-400 h-20 w-20 cursor-pointer" ></div>
    </div>
   </menu>
</div>